#MyChart{
    display: flex;
    width: 300px;
    height: 400px;
    flex-direction: column-reverse;
}
.mat-mdc-card-header.change{
    display: contents;
    width: 415px;
    height: 376px;
    }
    
.mat-mdc-card-content{
    height: 381px;
}