<div class="chart-container">
    <div class="chart-Div">
        <mat-card class="mat-mdc-card-content">
              <span>Customer Details</span>
                <mat-card-content>
                    <canvas  id="MyChart"
                     style="display: flex;
                    box-sizing: border-box;
                    height: 381px;
                    width: 190px;
                    position: relative;
                    left: 66px;
                    bottom: 57px;">{{ chart }}</canvas>
                </mat-card-content>

        </mat-card>

    </div>

</div>
