
.mat-mdc-card-subtitle{
    padding-left: 20px;
}
  .background_275-1658 {
    display: flex;
  }

  .text-title_275-1659 {
    color: #414d55;
    font-size: 16px;
    font-family: Poppins;
    line-height: 20px;
    letter-spacing: 0.01px;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    width: 180px;
    height: 18px;
  }

  .text-4-2_275-1685 {
    color: #414d55;
    font-family: Poppins;
    line-height: 40px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    width: 240px;
    height: 34px;
  }

  .hmil_604-1759 {
    width: 266px;
    height: 28px;
  }
  .ui-progressbar-80_275-1676 {
    display: flex;
  }
  .background_275-1677 {
    display: flex;
  }

  .rectangle_275-1678 {
    display: flex;
  }

  .text-hmil_275-1679 {
    color: #696d6e;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 80px;
    height: 17px;
  }

  .text-5-stars_275-1680 {
    color: #696d6e7f;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 64px;
    height: 17px;
  }



  .rnaipl_604-1760 {
    width: 261px;
    height: 29px;
  }
  .ui-progressbar-80_275-1672 {
    display: flex;
  }
  .background_275-1673 {
    display: flex;
  }

  .rectangle_275-1674 {
    display: flex;
  }

  .text {
    color: #696d6e;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 58px;
    height: 17px;
  }

  .text-4-stars_275-1675 {
    color: #696d6e;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 150px;
    height: 19px;
  }

  .rbc_604-1761 {
    width: 266px;
    height: 28px;
  }
  .ui-progressbar-80_275-1668 {
    display: flex;
  }
  .background_275-1669 {
    display: flex;
  }

  .rectangle_275-1670 {
    display: flex;
  }

  .text-5-stars_275-1682 {
    color: #696d6e7f;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 64px;
    height: 17px;
  }

  .text-3-stars_275-1671 {
    color: #696d6e;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 150px;
    height: 18px;
  }

  .mobis_604-1762 {
    width: 266px;
    height: 29px;
  }
  .ui-progressbar-80_275-1664 {
    display: flex;
  }
  .background_275-1665 {
    display: flex;
  }

  .rectangle_275-1666 {
    display: flex;
  }

  .text-5-stars_275-1683 {
    color: #696d6e7f;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 64px;
    height: 17px;
  }

  .text-2-stars_275-1667 {
    color: #696d6e;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 98px;
    height: 18px;
  }

  .support_604-1763 {
    width: 261px;
    height: 29px;
  }
  .ui-progressbar-80_275-1660 {
    display: flex;
  }
  .background_275-1661 {
    display: flex;
  }

  .rectangle_275-1662 {
    display: flex;
  }

  .text-5-stars_275-1684 {
    color: #696d6e7f;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 58px;
    height: 17px;
  }

  .text-1-star_275-1663 {
    color: #696d6e;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 65px;
    height: 18px;
  }
