<div class="item_category">
  <mat-card>
      <mat-card-content style="width:230px;
    height: 349px; display: grid; ">
         <span class="text-title_275-1659">Items per Category</span>

        <mat-card-subtitle>
          <span class="text-4-2_275-1685">1161 / 1500</span>
        </mat-card-subtitle>

          <div class="item_space">
            <span class="text-hmil_275-1679">HMIL Trolleys</span>
            <span class="text-5-stars_275-1680">772 / 1500</span>
          <div class="ui-progressbar-80_275-1676">
              <svg
              width="256"
              height="6"
              viewBox="0 0 256 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              >
              <rect
                  x="0.564209"
                  y="0.252686"
                  width="254.873"
                  height="5.32105"
                  rx="2.5"
                  fill="#E4EAF0"
              />
              <rect
                  x="0.564209"
                  y="0.252686"
                  width="203"
                  height="5.32105"
                  rx="2"
                  fill="#FF0000"
                  fill-opacity="0.53"
              />
              </svg>
          </div>

          </div>
          <div class="item_space">
            <span class="text">RANIPL RBC FR RR DOORS</span>
            <span class="text">89 / 1500</span>

          <div class="ui-progressbar-80_275-1672">
              <svg
              width="256"
              height="7"
              viewBox="0 0 256 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              >
              <rect
                  x="0.564209"
                  y="0.707886"
                  width="254.873"
                  height="5.32105"
                  rx="2.5"
                  fill="#E4EAF0"
              />
              <rect
                  x="0.564209"
                  y="0.707886"
                  width="76"
                  height="5.32105"
                  rx="2"
                  fill="#FF0000"
                  fill-opacity="0.53"
              />
              </svg>
          </div>
        </div>

          <div class="item_space">
            <span class="text">RNAIPL RBC HBC IP Trolley</span>
            <span class="text">192 / 1500</span>

          <div class="ui-progressbar-80_275-1668">
              <svg
              width="256"
              height="6"
              viewBox="0 0 256 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              >
              <rect
                  x="0.564209"
                  y="0.163208"
                  width="254.873"
                  height="5.32105"
                  rx="2.5"
                  fill="#E4EAF0"
              />
              <rect
                  x="1"
                  width="158"
                  height="5"
                  rx="2"
                  fill="#FF0000"
                  fill-opacity="0.53"
              />
              </svg>
          </div>

          </div>
          <div class="item_space">
            <span class="text">MOBIS Trolleys</span>
            <span class="text">107 / 1500</span>

          <div class="ui-progressbar-80_275-1664">
              <svg
              width="256"
              height="6"
              viewBox="0 0 256 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              >
              <rect
                  x="0.564209"
                  y="0.618408"
                  width="254.873"
                  height="5.32105"
                  rx="2.5"
                  fill="#E4EAF0"
              />
              <rect
                  x="1"
                  y="1"
                  width="116"
                  height="5"
                  rx="2"
                  fill="#FF0000"
                  fill-opacity="0.53"
              />
              </svg>
          </div>

          </div>
          <div class="item_space">
            <span class="text">Support Tag</span>
            <span class="text">1 / 1500</span>

          <div class="ui-progressbar-80_275-1660">
              <svg
              width="256"
              height="6"
              viewBox="0 0 256 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              >
              <rect
                  x="0.564209"
                  y="0.0736084"
                  width="254.873"
                  height="5.32105"
                  rx="2.5"
                  fill="#E4EAF0"
              />
              <rect
                  x="1"
                  width="10"
                  height="5"
                  rx="2"
                  fill="#FF0000"
                  fill-opacity="0.53"
              />
              </svg>
          </div>

          </div>
      </mat-card-content>
  </mat-card>
  </div>

