<div class="item_category">
    <mat-card>
        <mat-card-header>
           <span class="text-title_275-1659">Items per Category</span>
        </mat-card-header>
        <mat-card-subtitle>
            <span class="text-4-2_275-1685">1161 / 1500</span>
        </mat-card-subtitle>
        <mat-card-content>    
            <div class="hmil_604-1759">
            <div class="ui-progressbar-80_275-1676">
                <svg
                width="256"
                height="6"
                viewBox="0 0 256 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <rect
                    x="0.564209"
                    y="0.252686"
                    width="254.873"
                    height="5.32105"
                    rx="2.5"
                    fill="#E4EAF0"
                />
                <rect
                    x="0.564209"
                    y="0.252686"
                    width="203"
                    height="5.32105"
                    rx="2"
                    fill="#FF0000"
                    fill-opacity="0.53"
                />
                </svg>
            </div>
            <span class="text-hmil_275-1679">HMIL Trolleys</span>
            <span class="text-5-stars_275-1680">772 / 1500</span>
            </div>
            <div class="rnaipl_604-1760">
            <div class="ui-progressbar-80_275-1672">
                <svg
                width="256"
                height="7"
                viewBox="0 0 256 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <rect
                    x="0.564209"
                    y="0.707886"
                    width="254.873"
                    height="5.32105"
                    rx="2.5"
                    fill="#E4EAF0"
                />
                <rect
                    x="0.564209"
                    y="0.707886"
                    width="76"
                    height="5.32105"
                    rx="2"
                    fill="#FF0000"
                    fill-opacity="0.53"
                />
                </svg>
            </div>
            <span class="text-5-stars_275-1681">89 / 1500</span>
            <span class="text-4-stars_275-1675">RANIPL RBC FR RR DOORS</span>
            </div>
            <div class="rbc_604-1761">
            <div class="ui-progressbar-80_275-1668">
                <svg
                width="256"
                height="6"
                viewBox="0 0 256 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <rect
                    x="0.564209"
                    y="0.163208"
                    width="254.873"
                    height="5.32105"
                    rx="2.5"
                    fill="#E4EAF0"
                />
                <rect
                    x="1"
                    width="158"
                    height="5"
                    rx="2"
                    fill="#FF0000"
                    fill-opacity="0.53"
                />
                </svg>
            </div>
            <span class="text-5-stars_275-1682">192 / 1500</span>
            <span class="text-3-stars_275-1671">RNAIPL RBC HBC IP Trolley</span>
            </div>
            <div class="mobis_604-1762">
            <div class="ui-progressbar-80_275-1664">
                <svg
                width="256"
                height="6"
                viewBox="0 0 256 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <rect
                    x="0.564209"
                    y="0.618408"
                    width="254.873"
                    height="5.32105"
                    rx="2.5"
                    fill="#E4EAF0"
                />
                <rect
                    x="1"
                    y="1"
                    width="116"
                    height="5"
                    rx="2"
                    fill="#FF0000"
                    fill-opacity="0.53"
                />
                </svg>
            </div>
            <span class="text-5-stars_275-1683">107 / 1500</span>
            <span class="text-2-stars_275-1667">MOBIS Trolleys</span>
            </div>
            <div class="support_604-1763">
            <div class="ui-progressbar-80_275-1660">
                <svg
                width="256"
                height="6"
                viewBox="0 0 256 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <rect
                    x="0.564209"
                    y="0.0736084"
                    width="254.873"
                    height="5.32105"
                    rx="2.5"
                    fill="#E4EAF0"
                />
                <rect
                    x="1"
                    width="10"
                    height="5"
                    rx="2"
                    fill="#FF0000"
                    fill-opacity="0.53"
                />
                </svg>
            </div>
            <span class="text-5-stars_275-1684">1 / 1500</span>
            <span class="text-1-star_275-1663">Support Tag</span>
            </div>
        </mat-card-content>
    </mat-card>    
    </div>
 
  