.mat-mdc-card-header.change{
  display: contents;
  width: 415px;
  height: 376px;
  }

  #SvgjsSvg1001.apexcharts-svg.apexcharts-zoomable.hovering-zoom{
    max-height: 150px;
  }

  foreignObject{

    height: 200px;
  }

  mat-card.change1{
    max-height: 150px;
  }

  apx-chart{
    width: 400px;
  }

  span{
    display: inline-flex;
  }

  input.p-element{
    left: 346px;
    position: absolute;
    top: 24px;
}
.p-calendar .p-inputtext {
  flex: 1 1 auto;
  width: 1%;
  text-overflow: ellipsis;
  border-radius: 10px;
}
