<div id="chart">
    <mat-card class="change1q">
      <mat-card-header class="change">
        <mat-card-title><h5>Hourly Dispatch</h5></mat-card-title>
        <mat-card-subtitle><h6>Details</h6></mat-card-subtitle>
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [stroke]="chartOptions.stroke!"
          [tooltip]="chartOptions.tooltip!"
          [dataLabels]="chartOptions.dataLabels!">
       </apx-chart>
      </mat-card-header>
    </mat-card>
    
  </div>
  