.mat-mdc-card-header.change{
  display: contents;
  width: 415px;
  height: 376px;
  }
  
  #SvgjsSvg1001.apexcharts-svg.apexcharts-zoomable.hovering-zoom{
    max-height: 150px;
  }

  foreignObject{
   
    height: 200px;
  }

  mat-card.change1{
    max-height: 150px;
  }

  apx-chart{
    width: 400px;
  }
  
