<div class="dashboard">
  <!-- Dashboard Sections -->
  <!-- <div class="dashboard-section">
    <h2>Assets In Plant</h2>
    <p>1000</p>
  </div>
  <div class="dashboard-section">
    <h2>Assets Out Plant</h2>
    <p>1000</p>
  </div>
  <div class="dashboard-section">
    <h2>Assets Inwards</h2>
    <p>1000</p>
  </div>
  <div class="dashboard-section">
    <h2>Assets Outwards</h2>
    <p>1000</p>
  </div> -->
  <mat-card class="custom-card">
    <mat-card-header>
      <mat-card-title>Assets In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <div class="left-content">
          <p>1000</p>
        </div>
        <div class="right-content">
          <img src="assets/icons/Info/in.png" alt="In image" height="53px" width="59px"/>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="custom-card">
    <mat-card-header>
      <mat-card-title>Assets Out</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <div class="left-content">
          <p>1000</p>
        </div>
        <div class="right-content">
          <img src="assets/icons/Info/out.png" alt="In image" height="56px" width="59px"/>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="custom-card">
    <mat-card-header>
      <mat-card-title>Asset Inwards</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <div class="left-content">
          <p>1000</p>
        </div>
        <div class="right-content">
          <img src="assets/icons/Info/inward.png" alt="In image"  />
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="custom-card">
    <mat-card-header>
      <mat-card-title>Asset Outwards</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <div class="left-content">
          <p>1000</p>
        </div>
        <div class="right-content">
          <img src="assets/icons/Info/outward.png" alt="In image" />
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Beacons Section -->
  <div class="beacons">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span class="asset">ASSETS WITH BEACONS</span>
        </mat-card-title>
        <mat-card-subtitle>
          <h6>Last Updated</h6>
          <span id="update"></span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <div class="beacon">
          <mat-card-subtitle>1000</mat-card-subtitle>
          <!-- <img mat-card-image src="assets/icons/Info/Beacon.png" alt="Beacon_img"> -->
        </div>
        <hr>
        <div class="seperate">
          <div class="seperate1">
            <ul>
              <li>1500</li>
              <li>2</li>
              <li>1</li>
              <li>1</li>
            </ul>
          </div>
          <div class="seperate2">
            <ul>
              <li>Total Assets</li>
              <li>No of Sites</li>
              <li>No of Areas</li>
              <li>No of Zones</li>
            </ul>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<!-- Content Section -->
<div class="content">
  <div class="container">
    <!-- Customer Details Section -->
    <div class="cust_details">
          <div class="cust">
            <app-cust-details></app-cust-details>
          </div>

    </div>
  </div>
    <!-- Hourly Dispatch Section -->
    <div>
      <app-hourly-dispatch></app-hourly-dispatch>
    </div>



    <!-- Item Category Section -->
  <div class="item_category">
      <app-items-category></app-items-category>
    </div>
</div>

<!-- Details Section-->
<div class="section">
  <div class="ch-table">
    <app-monthly-dispatch></app-monthly-dispatch>
  </div>
  <div class="table">
    <mat-card>
      <app-asset-table></app-asset-table>
    </mat-card>
  </div>
  <div class="outcome">
    <app-asset-outcome></app-asset-outcome>
  </div>

</div>
<div class="transaction">
    <app-recent-transactions></app-recent-transactions>
  </div>
